@using Microsoft.JSInterop

@typeparam TState
@typeparam TAction



<h3>ReduxDevTools </h3>
@ChildContent

@if (AllowDebug)
{
    <ul class="list-group">
        @foreach (var entry in Redux.Store.History)
        {
            <li class="list-group-item"> @Debug(entry)</li>
        }

    </ul>

}
@code {
    private bool _allowDebug = false;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool AllowDebug
    {
        get { return _allowDebug; }
        set
        {
            _allowDebug = value;
            StateHasChanged();
        }
    }

    [Parameter]
    public RenderFragment<HistoricEntry<TState, TAction>> Debug { get; set; }


    

    



}
