@typeparam TState
@typeparam TAction
@typeparam TStorage
@using MicroS_Common.Actions
<h3>Storage</h3>

@code {
    [Parameter]
    public RenderFragment<ReduxDevTools<TState, TAction>> ChildContent { get; set; }


}
